<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>CSClassicFoldersLogoCell</string>
			<key>height</key>
			<integer>87</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.coolstar.classicfolders</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>org.coolstar.classicfolders</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>mode</string>
			<key>label</key>
			<string>Mode</string>
			<key>validTitles</key>
			<array>
				<string>Modern</string>
				<string>Mavericks</string>
				<string>Classic</string>
				<string>iOS 4 Beta</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>org.coolstar.classicfolders</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>blurBackground</string>
			<key>label</key>
			<string>Blur Wallpaper</string>
			<key>validTitles</key>
			<array>
				<string>Never</string>
				<string>Always</string>
				<string>When Folder Open</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupSpecifier</string>
			<key>label</key>
			<string>Animation Speed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>org.coolstar.classicfolders</string>
			<key>key</key>
			<string>speedMultiplier</string>
			<key>label</key>
			<string>Spd</string>
			<key>leftImage</key>
			<string>fast.png</string>
			<key>rightImage</key>
			<string>slow.png</string>
			<key>max</key>
			<integer>2</integer>
			<key>min</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Modern Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.coolstar.classicfolders</string>
			<key>key</key>
			<string>dark</string>
			<key>label</key>
			<string>Dark Tint</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Toggling Classic Icon Settings Requires a respring</string>
			<key>label</key>
			<string>Classic Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.coolstar.classicfolders</string>
			<key>key</key>
			<string>classicIcon</string>
			<key>label</key>
			<string>Use Classic Icon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.coolstar.classicfolders</string>
			<key>key</key>
			<string>outline</string>
			<key>label</key>
			<string>Icon Outline</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.coolstar.classicfolders</string>
			<key>key</key>
			<string>classicshape</string>
			<key>label</key>
			<string>Classic Icon Shape</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ClassicFolders 2 is ©2019, CoolStar &amp; Jeremy Goulet. All Rights Reserved.</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>action</key>
			<string>coolstarTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>/Library/PreferenceBundles/ClassicFoldersSettings.bundle/Twitter.png</string>
			<key>label</key>
			<string>CoolStar (@coolstarorg)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>jeremyTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>/Library/PreferenceBundles/ClassicFoldersSettings.bundle/Twitter.png</string>
			<key>label</key>
			<string>Jeremy Goulet (@JeremyGoulet)</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
